{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }

    }],
    "stage-3"
  ],
  "plugins": [["component", [
    {
      "libraryName": "mint-ui",
      "style": true
    }
  ]]]
}
